@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


form div {
    @apply flex flex-col mb-4;
}

form button {
    @apply text-white font-bold py-2 px-4 rounded;
}

form input,
form textarea,
form select {
    /* Tailwind Border */
    border: 1px solid #e2e8f0 !important;
    font-size: 14px !important;
    padding: 5px !important;
}
